* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
}
.top {
  height: 40vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: lightblue;
  overflow: auto;
  flex-direction: column;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
}
.add-btn-div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
#add-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: greenyellow;
  margin: 2px;
}
#calculate-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: rgb(255 0 0);
  margin: 2px;
}
#add-process:hover {
  padding: 10px;
}
#calculate-process:hover {
  padding: 10px;
}
#processes td {
  text-align: center;
  vertical-align: middle;
}
#processes th {
  padding: 5px;
}
.header {
 margin-bottom: 50px; 
}
