* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
}
.top {
  height: 40vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: lightblue;
  overflow: auto;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
}
.add-btn-div {
  display: flex;
  justify-content: flex-end;
}
#add-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: greenyellow;
}
#add-process:hover {
  padding: 10px;
}
#processes td {
    text-align: center;
    vertical-align: middle;
}
#processes th {
    padding: 5px;
}