* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
}
.top {
  height: 50%;
  width: 100%;
  align-items: center;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.bottom {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.add-btn-div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
#remove-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: red;
  margin: 2px;
}
#remove-process:hover {
  padding: 10px;
}
#add-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: greenyellow;
  margin: 2px;
}
#calculate-process {
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
  border: none;
  background-color: rgb(15, 218, 184);
  margin: 2px;
}
#add-process:hover {
  padding: 10px;
}
#calculate-process:hover {
  padding: 10px;
}
#processes td {
  text-align: center;
  vertical-align: middle;
}
#processes th {
  padding: 5px;
}
.header {
  margin-bottom: 50px;
}
nav ul {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: lightblue;
}
nav ul li {
  margin: 10px;
  padding: 2px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
footer {
  height: 10vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#activePage {
  background-color: greenyellow;
  border-radius: 10%;
  padding: 10px;
}
#AVGtimes {
  /* color: green; */
  background-color: lightgreen;
  border-radius: 10%;
  padding: 10px;
}
